[submodule "a-shell"]
	path = a-shell
	url = git@github.com:rudironsoni/a-shell.git
	branch = master
[submodule "a-shell-kernel/wamr"]
	path = a-shell-kernel/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "a-shell-packages"]
	path = a-shell-packages
	url = git@github.com:rudironsoni/a-shell-packages.git
	branch = main
[submodule "a-shell-kernel"]
	path = a-shell-kernel
	url = https://github.com/rudironsoni/a-shell-kernel.git
	branch = main
[submodule "a-shell-app"]
	path = a-shell-app
	url = https://github.com/rudironsoni/a-shell-app.git
	branch = main
